body{
margin: 0px;
background-color: black;
color: #fff;
}

/* ------- */
/* En Tête */
/* ------- */

header{
    background-color: #222222;
    height: 85px;
}

.EnTete{
    display: flex;
    justify-content: space-between;
}

.Logo{
    width: 50px;
    padding: 12px;
    margin-left: 100px;
    display: flex;
}

.BoxMilieu{
    display: flex;
    align-items: center;
    margin-right: 170px;
}

.blocks {
    background: #fff;
    width: 7px;
    height: 7px;
    float: left;
    margin: 36px 18px;
}

.TexteEnTete{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
}

.Reseau{
    display: flex;
}

.svgentete{
    padding: 8px;
}

/* ----------- */
/* Fin En Tête */
/* ----------- */

.boxtitre{
    display: flex;
    gap: 10px;
}

.textemimi{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;

}

.textelasouris{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}